* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    background: rgba(255, 255, 255, 0.4) url("space.jpg") no-repeat;
    background-blend-mode: lighten;
    -webkit-background-size: cover;
    background-size: cover;
}

#all {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
}

#title {
    display: flex;
    flex-direction: column;

    flex: 20%;
    width: 60%;

    margin: auto;

    color : black;
    /*border-top-left-radius: 30% 80%;
    border-top-right-radius: 30% 80%;*/
    text-align: center;

    /*border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;*/
    background-color: rgba(221,221,221,0.5);

    font-size: 60%;

}
.groupForm{
    display: flex;
    flex-direction: row;
}

#nbAstres {
    flex: 30%;
}

#nbAstres span{
    margin-bottom: 5%;
}

#colorForm {
    width: 50%;
    background-color: rgba(221,221,221,0.8);
    /*
    border:1px solid black;
    */
}

#styleForm {
    width: 50%;
    background-color: rgba(221,221,221,0.8);
    /*
    border:1px solid black;
    */
    border-left:none;
}

#mainContent {
    display: flex;
    flex-wrap: nowrap;
    flex: 60%;
    margin-top: 1%;
}

#mainContent > div > span{
    margin-top: 2%;
}

#graph {
    flex: 100%;
    height: 100%;
    /*border: 1px solid lightgrey;*/
    background-color: rgba(221,221,221,0.5);
    /*
    border: 1px solid black;
    */
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding: 2%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
}

#stats {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: rgba(221,221,221,0.5);
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}



#stop{
    margin-left: 5%;
    margin-right: 5%;
    flex:1 40%;
    color:red;
    background: rgba(255,0,0,0.1);
}
#stop:hover{
    color: white;
    background: rgba(255,0,0,1);
}

#start {
    margin-left: 5%;
    margin-right: 5%;
    flex:1 40%;
    color : green;
    background: rgba(0,255,0,0.1);
}
#start:hover {
    color : white;
    background: rgba(0,128,0,1);

}
.liste{
    display: flex;
    flex-direction: row;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 2%;
}
.liste > label{
    display: flex;
    margin: auto;
}

#footer{
    display: flex;
    flex-direction: row;

    margin-top: 2%;
}

#footer button{
    flex: 50%;

}

#myCanvasGraph {
    flex: 100%;
}

#myCanvasStats {
    flex: 100%;
}



